@keyframes moveInLeft {
  0% {
    opacity: 0;
    text-decoration: none;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem) skewX(30deg);
  }

  90% {
    text-decoration: none;
    text-decoration: transparent;
  }
  100% {
    opacity: 1;
    transform: translate(0) skewX(0);
    text-decoration: $color-typo-1;
    text-decoration-line: underline;
  }
}

@keyframes fadeInSimple {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInVertWiggle {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(0);
  }
  35% {
    opacity: 1;
  }
  55% {
    transform: translateY(-.75rem);
  }
  90% {
    transform: translateY(.4rem);
  }
  100% {
    transform: translateY(0);
  }
}