//$color-primary-light: #151119; // raisen black
//$color-primary-main: #878480;

// THEME
$color-theme-3: #878480;
$color-theme-2: rgba(46, 64, 82, 0.63);
$color-theme-1: #CAC4CE;

// TYPOGRAPHY
$color-typo-1: #725AC1;

// EXTRANEOUS
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// CONTROLS
