//$color-primary-light: #151119; // raisen black
//$color-primary-main: #878480;

// THEME
$color-theme-3: #878480;
$color-theme-2: rgba(46, 64, 82, 0.63);
$color-theme-1: #CAC4CE;

// TYPOGRAPHY
$color-typo-1: #eeeeee;
$font-header: "Open Sans", sans-serif;
$color-menu-font: #0B212F;

// RESPONSIVE MENU VARIABLES
$menu-width: 30rem;
$menu-height: 5rem;
$menu-padding: 1rem 2rem;
$menu-font-size: 2rem;
$btn-font-size: 1.5rem;
$mobile-menu-width: 30rem;
$mobile-menu-height: 5rem;
$mobile-menu-padding: 1rem 2rem;
$mobile-menu-font-size: 2rem;
$mobile-btn-font-size: 1.5rem;

// EXTRANEOUS
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-primary: #55c57a;
$color-primary-dark: #2314C9;
$color-primary-light: #1489FF;
$color-primary-light-old: #7ed56f;
$color-primary-dark-old: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

@media screen and (max-width: 500px) {
    $menu-width: 20rem;
}