// hr {
//     background-color: inherit;
//     border-color: lightslategray;
// }

#storyWelcome {
    margin: auto 0;
}

.word {
    display: inline;
    font-family: 'lato';
    opacity: 0;
    font-size: 1.5rem;
    color: $color-type-main;
}