html {
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    height: 100vh;
    background: rgba($color-grey-silver, .9);
    font-family: 'Lobster', cursive;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    
}