html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  margin: 0; }

body {
  padding: 3rem;
  background-color: #fff; }

.heading__box {
  padding-top: 20vh; }

.heading-main {
  color: #eeeeee;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
  position: relative;
  transform: translateY(50%);
  font-family: "Open Sans", sans-serif; }
  .heading-main--sub {
    font-size: 2.5rem;
    position: absolute;
    margin: 0 auto;
    top: -2.75rem;
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    z-index: 1;
    font-weight: 400;
    text-decoration: #eeeeee;
    text-decoration-line: underline; }
  .heading-main--main {
    display: inline-block;
    font-size: 6rem;
    z-index: 5;
    animation: fadeInVertWiggle 1.2s ease-in-out;
    animation-delay: .9s;
    animation-fill-mode: backwards;
    font-weight: 700; }

.text__outline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    text-decoration: none;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem) skewX(30deg); }
  90% {
    text-decoration: none;
    text-decoration: transparent; }
  100% {
    opacity: 1;
    transform: translate(0) skewX(0);
    text-decoration: #eeeeee;
    text-decoration-line: underline; } }
@keyframes fadeInSimple {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInVertWiggle {
  0% {
    opacity: 0; }
  30% {
    transform: translateY(0); }
  35% {
    opacity: 1; }
  55% {
    transform: translateY(-0.75rem); }
  90% {
    transform: translateY(0.4rem); }
  100% {
    transform: translateY(0); } }
.menu {
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  width: 30rem;
  height: 5rem;
  z-index: 10;
  margin: auto;
  transform: translateY(40vh);
  border-radius: 3px;
  border: 0.5rem solid #7ed56f;
  color: #28b485; }
  .menu__btn {
    font-size: 1.5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: transparent;
    background-color: inherit;
    border-radius: inherit;
    border: inherit;
    border-color: transparent;
    transition: all .3s;
    z-index: -1; }
    .menu__btn--left {
      width: 35%;
      height: 80%;
      border-right: none;
      top: 10%; }
    .menu__btn--right {
      width: 35%;
      height: 80%;
      border-left: none;
      top: 10%;
      left: 61.5%; }
    .menu__btn--top {
      width: 75%;
      left: 12.5%;
      height: 60%;
      border-bottom: none; }
  .menu__nav {
    width: 75%;
    left: 12.5%;
    height: 60%;
    top: 40%;
    border-top: none;
    display: flex;
    justify-content: space-around; }
  .menu__link {
    display: inline-block; }
  .menu:hover .menu__btn, .menu__btn:hover .menu__btn {
    z-index: -1; }
    .menu:hover .menu__btn--left, .menu__btn:hover .menu__btn--left {
      transform: translateX(-99%);
      color: #28b485;
      border-color: #7ed56f; }
    .menu:hover .menu__btn--right, .menu__btn:hover .menu__btn--right {
      transform: translateX(11rem);
      color: #28b485;
      border-color: #7ed56f; }
    .menu:hover .menu__btn--top, .menu__btn:hover .menu__btn--top {
      transform: translateY(-99%);
      color: #28b485;
      border-color: #7ed56f; }
  .menu:hover .menu__nav, .menu__btn:hover .menu__nav {
    transform: translateY(99%);
    color: #28b485;
    border-color: #7ed56f; }
  .menu:hover .menu__link--media-icon, .menu__btn:hover .menu__link--media-icon {
    color: #777; }

.menu__link--media-icon {
  color: transparent;
  width: 200%;
  height: 200%; }

.header {
  height: 85vh;
  background-color: mintcream;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.65), rgba(40, 180, 133, 0.65)), url("../../img/img1.jpg");
  background-size: cover;
  background-position: bottom; }

/* Okay so current goal is to actually make some interesting buttons
Using different state effects. :after, :activate, :visited etc
Once the button is fleshed out in that capacity we can worry about
actually positioning them and making a coherent page out of it*/
/* This is a button I pulled off the net. Make your own! Gotta learn!
.ghost-mid, .ghost-left, .ghost-right {*/
/*display: inline-block;*/
/*width: 200px;*/
/*padding: 8px;*/
/*color: #305252;*/
/*background-color: transparent;*/
/*border: 1px solid #305252;*/
/*text-align: center;*/
/*outline: none;*/
/*text-decoration: none;*/
/*}*/
/*.ghost-button {*/
/*border-radius: 5px;*/
/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
/*-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
/*transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
/*}*/
/*.ghost-button::after {*/
/*content: "";*/
/*border-radius: 5px;*/
/*position: absolute;*/
/*z-index: -1;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
/*opacity: 0;*/
/*-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
/*transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
/*}*/
/*.ghost-button:hover {*/
/*-webkit-transform: scale(1.25, 1.25);*/
/*transform: translateY(20px) scale(1.25, 1.25)*/
/*}*/
/*.ghost-button:hover::after {*/
/*opacity: 1;*/
/*}*/
/*.ghost-button > a {*/
/*font-family: 'Lobster', cursive;*/
/*font-size: 1.5em;*/
/*}*/

/*# sourceMappingURL=main--splash.css.map */
