<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Sage Page</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
<div id="blogWrapper">
    <div id="header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">
            <img class='svg icon icon-plus' src="{% static 'img/plus.svg' %}"></a>
        {% endif %}
        <h1>{% block headerContent %}<a href="/">The Sage Page</a>{% endblock %}</h1>
        <hr>
    </div>
<div id="navBar">

</div>
    <div id="contentContainer">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
<footer>
    <p>something will go here - find some footer ideas</p>
</footer>
</div>
</body>
</html>