#storyWrapper {
    // overflow: hidden;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: lightseagreen;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 3fr 3fr 5fr 2fr;
    min-width: 100%;
    // overflow: hidden;
    /*box-shadow: 5px 10px */
}


.textWrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: $color-grey-light;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 1px 3px 3px 1px rgba($color-black, .3);
}