#storyWrapper {
    // overflow: hidden;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 3fr 3fr 5fr 2fr;
    min-width: 100%;
    // overflow: hidden;
    /*box-shadow: 5px 10px */
}


