.button {
    text-align: center;
    display: inline-block;
    background-color: rgba($btn-bg-color-1, .85);
    border: lightslategray outset medium;
    color: rgba($color-type-main, .6);
    font-weight: 500;
    padding: 2rem 4rem;
    opacity: 0;
    border-radius: .5rem;
    transition: all .2s;
    &--wrapper {
        transition: all .2s
    }
    &:hover {
        // NAMED ANIMS NOT NECESSARY
        // Rework into transitions
        animation: opaqueHover 2s forwards;
        button--wrapper {
            animation: drift 4s alternate infinite reverse;
        }
    }
}



.buttonOpaque {
    opacity: 1;
}

.optionSelector {
    opacity: 0;
    max-height: 50%;
    overflow: auto;
}

.storySelector {
    font-weight: 600;

}