.button {
    text-align: center;
    display: inline-block;
    background-color: rgba($btn-bg-color-1, .85);
    border: lightslategray outset medium;
    color: rgba(3,3,3,.8);
    font-weight: 500;
    padding: 2rem 4rem;
    opacity: 0;
    border-radius: .5rem;
    transition: all .2s;
}

.buttonOpaque {
    opacity: 1;
}

.optionSelector {
    opacity: 0;
    max-height: 50%;
    overflow: auto;
}

.storySelector {
    font-weight: 600;

}