{% extends 'story/base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/sass/pages/game_page/main.css' %}">{% endblock %}
{% block header %} {% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <div id="storyWrapper">
        <div class="textWrapper">
        <div id="textBox">
            <p id="storyWelcome">Select your experience</p>
        </div>
    </div>
        <div id="mainAnimBox">
            <hr>
        </div>
        <div id="selectionBox">
            <div id="storyButtonBox">
            </div>
            <div id="optionBox">
                <button type="button" id="option1" class="optionSelector button"></button>
                <button type="button" id="option2" class="optionSelector button"></button>
                <button type="button" id="option3" class="optionSelector button"></button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/js/anime.min.js"></script>
    <script src="../../static/js/story_page/getCookie.js"></script>
    <script src="../../static/js/story_page/story_revis.js"></script>
{% endblock %}
{#Chris says I want to have a wrapper around all the areas that I want to set#}
{#To display: none because if I don't, they won't be rendered at all and the#}
{#space will not be preserved, causing weird side effects when changing display#}
{#states.#}