{# Current Status : Completed page load header anims #}
{# TODOS #}
{# Complete header #}
{# Thinking of using another background image like in natours #}
{# Utilize another linear gradient over the image to increase #}
{# typeface readability. I like the page padding of natours & header #}
{# design. #}

{# Create natours style cards for about me and navigation #}
{# possibly featuring buttons to other pages #}
{% extends 'story/base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/sass/main--splash.css' %}">{% endblock %}
{% block header %}
    <header class="header">
        <div class="heading__box">
            <h1 class="heading-main">
                <span class="heading-main--sub text__opaque">Welcome to the</span>
                <span class="heading-main--main">Sage Page</span>
            </h1>
        </div>
        <div class="menu">
            My Work
            <a href='{% url 'post_list' %}' class="menu__btn menu__btn--left">
                Blog
            </a>
            <a href="{% url 'game_page' %}" class="menu__btn menu__btn--top">
                Vistelse
            </a>
            <a href="#" class="menu__btn menu__btn--right">
                Nowherelink
            </a>
            <nav class="menu__nav">
                {# SOCIAL MEDIA IMGS/LINKS GO HERE #}
            </nav>
        </div>
    </header>
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    <div id="contentWrapper">

        {#            <a href="#">#}
        {#                <div class="btn">#}
        {#                    About#}
        {#                </div>#}
        {#            </a> currently no about page...#}
        <div id="bottomNav">
            {#            social media links go here #}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/js/getCookie.js"></script>
    <script src="../../static/js/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {#    <script src="../../static/js/splash_page.js"></script>#}
{% endblock %}