@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem) skewX(30deg);
  }
  100% {
    opacity: 1;
    transform: translate(0) skewX(0);
  }
}

@keyframes fadeInSimple {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInVertWiggle {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(0);
  }
  35% {
    opacity: 1;
  }
  55% {
    transform: translateY(-1rem);
  }
  85% {
    transform: translateY(.5rem);
  }
  100% {
    transform: translateY(0);
  }
}