.heading-main {
  color: $color-typo-1;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
  position: relative;
  &--sub {
    font-size: 2.5rem;
    position: absolute;
    margin: 0 auto;
    top: -1.75rem;
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    z-index: 1;
  }
  &--main {
    display: inline-block;
    font-size: 6rem;
    z-index: 5;
    animation: fadeInVertWiggle 1.5s ease-in-out;
    animation-delay: .9s;
    animation-fill-mode: backwards;
  }
}